//
//  ConfigPeruDebug.xcconfig
//  dirpol
//
//  Created by Developer iOS on 10/22/20.
//  Copyright © 2020 gravittas. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
CONFIG_APP=Peru
SLASH = /
DASH = -
URL_APP = https:$(SLASH)/directoriopolicial.siti.tech
ProvideAPIKey_APP = AIzaSyAxb0nBSc39zaJl2wPa0FIVybjO95ZxQEY
LaunchScreen = LaunchScreen
BusinessCountryID = 09c09d4b-42f9-4663-8da9-aece93c83a8d
BusinessID = cb037f9d-9f09-4896-b2e9-edcf4ab5fc00
CountryID = 3e0b531a-10d0-40da-84bb-575c39d4cc73
