//
//  ConfigColombia.xcconfig
//  dirpol
//
//  Created by Developer iOS on 7/7/20.
//  Copyright © 2020 gravittas. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
CONFIG_APP=Colombia
SLASH = /
URL_APP = https:$(SLASH)/directoriopolicial.siti.tech
ProvideAPIKey_APP = AIzaSyAxb0nBSc39zaJl2wPa0FIVybjO95ZxQEY
LaunchScreen = LaunchScreen_col
BusinessCountryID = c21cc919-dd88-448b-a153-289f99201d93
BusinessID = 4a673c1f-c4f1-45ec-906b-efdecdd43c1b
CountryID = f4766836-4e80-4e2c-aa02-a114831103ea
