//
//  ConfigColombia.xcconfig
//  dirpol
//
//  Created by Developer iOS on 7/7/20.
//  Copyright © 2020 gravittas. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974
CONFIG_APP=Colombia
SLASH = /
URL_APP = https:$(SLASH)/directoriopolicial.siti.tech
ProvideAPIKey_APP = AIzaSyAxb0nBSc39zaJl2wPa0FIVybjO95ZxQEY
LaunchScreen = LaunchScreen_col
BusinessCountryID = 865edb1b-7cf5-4afb-9580-bdf5e40eadbc
BusinessID = cb037f9d-9f09-4896-b2e9-edcf4ab5fc00
CountryID = b71a57f9-80ca-483b-a609-48a57d403af2
